In [6]:
from _helpers import prepareData

In [7]:
df1 = prepareData('data/Datasets/Subtypes.csv')
df2 = prepareData('data/Datasets/Subtypes_extracted.csv')

In [8]:
df2.head()

,Glon,Glat,_RAJ2000,_DEJ2000,Cl,Name,V,Spectral Type,Sp type,Mag type,dx,dy,plate,path
Unnamed: 0,,,,,,,,,,,,,,
2,122.144176,-16.278393,11.759187,46.586624,C,J004702.20+463511.8,12.50,Ba,C Ba,NaN,5991.0,4198.0,fbs0927_cor,data/Extracted/Subtypes/images/2__J004702.20+4...
6,171.458552,-17.195888,65.240196,25.357196,C,J042057.64+252125.9,12.55,Ba,C Ba,NaN,7255.0,5855.0,fbs1676_cor,data/Extracted/Subtypes/images/6__J042057.64+2...
7,187.891073,-23.225648,70.461572,9.575855,C,J044150.77+093433.0,12.56,Ba,C Ba,NaN,2727.0,148.0,fbs1051_cor,data/Extracted/Subtypes/images/7__J044150.77+0...
8,196.507526,21.000519,115.363250,23.474627,C,J074127.18+232828.6,12.56,Ba,C Ba,NaN,3148.0,968.0,fbs1350_cor,data/Extracted/Subtypes/images/8__J074127.18+2...
10,158.778345,-32.190195,45.061757,21.568008,C,J030014.82+213404.8,12.69,Ba,C Ba,13.0,7968.0,3749.0,fbs0123_cor,data/Extracted/Subtypes/images/10__J030014.82+...

In [9]:
df1.head()

,Glon,Glat,_RAJ2000,_DEJ2000,Cl,Name,V,Spectral Type,Sp type,Mag type
Unnamed: 0,,,,,,,,,,
2,122.144176,-16.278393,11.759187,46.586624,C,J004702.20+463511.8,12.50,Ba,C Ba,NaN
3,56.802895,44.775401,245.485024,35.227892,C,J162156.40+351340.4,12.53,Ba,C Ba,NaN
4,139.573743,-17.214979,34.753234,42.809063,C,J021900.77+424832.6,12.54,Ba,C Ba,NaN
5,202.700055,-15.477888,84.455417,1.757550,C,J053749.30+014527.1,12.54,Ba,C Ba,NaN
6,171.458552,-17.195888,65.240196,25.357196,C,J042057.64+252125.9,12.55,Ba,C Ba,NaN

In [17]:
df2['Cl']

,Glon,Glat,_RAJ2000,_DEJ2000,Cl,Name,V,Spectral Type,Sp type,Mag type,dx,dy,plate,path
Unnamed: 0,,,,,,,,,,,,,,
2,122.144176,-16.278393,11.759187,46.586624,C,J004702.20+463511.8,12.50,Ba,C Ba,NaN,5991.0,4198.0,fbs0927_cor,data/Extracted/Subtypes/images/2__J004702.20+4...
6,171.458552,-17.195888,65.240196,25.357196,C,J042057.64+252125.9,12.55,Ba,C Ba,NaN,7255.0,5855.0,fbs1676_cor,data/Extracted/Subtypes/images/6__J042057.64+2...
7,187.891073,-23.225648,70.461572,9.575855,C,J044150.77+093433.0,12.56,Ba,C Ba,NaN,2727.0,148.0,fbs1051_cor,data/Extracted/Subtypes/images/7__J044150.77+0...
8,196.507526,21.000519,115.363250,23.474627,C,J074127.18+232828.6,12.56,Ba,C Ba,NaN,3148.0,968.0,fbs1350_cor,data/Extracted/Subtypes/images/8__J074127.18+2...
10,158.778345,-32.190195,45.061757,21.568008,C,J030014.82+213404.8,12.69,Ba,C Ba,13.0,7968.0,3749.0,fbs0123_cor,data/Extracted/Subtypes/images/10__J030014.82+...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,353.387486,61.810665,214.427083,7.714075,sd,PG1415+079,15.89,sdO,sdO,16.0,7223.0,3109.0,fbs2025_cor,data/Extracted/Subtypes/images/2995__PG1415+07...
3007,16.599430,36.877603,243.188042,4.211597,sd,PG1610+043,16.11,He-sdO,sdO,16.0,443.0,3067.0,fbs0395_cor,data/Extracted/Subtypes/images/3007__PG1610+04...
3039,219.456693,60.649919,161.566542,20.358008,sd,PG1043+206,16.48,sdO,sdO,16.0,6881.0,3128.0,fbs0344_cor,data/Extracted/Subtypes/images/3039__PG1043+20...
3050,205.405211,54.876056,153.425500,26.105556,sd,SDSSJ101342.12+260620.0,16.64,sdO,sdO,NaN,5143.0,3672.0,fbs0676_cor,data/Extracted/Subtypes/images/3050__SDSSJ1013...
3054,13.781792,41.334040,238.233958,4.699639,sd,SDSSJ155256.15+044158.7,16.67,sdO,sdO,NaN,5967.0,4299.0,fbs1247_cor,data/Extracted/Subtypes/images/3054__SDSSJ1552...