In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/Datasets/DFBS_subtypes.csv')
df.head()

,No,Glon,Glat,RAJ2000,DEJ2000,Class,LAMOST,V,Spectral Type,Sp type,Mag type
0,NaN,deg,deg,deg,deg,NaN,NaN,mag,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,122.14417615,-16.27839305,11.75918694,46.58662389,C,J004702.20+463511.8,12.5,Ba,C Ba,NaN
3,NaN,56.80289514,44.77540086,245.48502389,35.22789194,C,J162156.40+351340.4,12.53,Ba,C Ba,NaN
4,NaN,139.57374304,-17.21497856,34.75323389,42.80906306,C,J021900.77+424832.6,12.54,Ba,C Ba,NaN

In [4]:
df.drop([0,1], axis=0, inplace=True)
df.drop(df[df['RAJ2000'].isna() | df['DEJ2000'].isna() | df['Sp type'].isna()].index, inplace=True)
df.drop(columns=['No'], inplace=True)
df.rename(columns={'Class': 'Cl', 'LAMOST': 'Name', 'RAJ2000': '_RAJ2000', 'DEJ2000': '_DEJ2000'}, inplace=True)
df[['_RAJ2000', '_DEJ2000']] = df[['_RAJ2000', '_DEJ2000']].astype(float)

In [5]:
df.head()

,Glon,Glat,_RAJ2000,_DEJ2000,Cl,Name,V,Spectral Type,Sp type,Mag type
2,122.14417615,-16.27839305,11.759187,46.586624,C,J004702.20+463511.8,12.5,Ba,C Ba,NaN
3,56.80289514,44.77540086,245.485024,35.227892,C,J162156.40+351340.4,12.53,Ba,C Ba,NaN
4,139.57374304,-17.21497856,34.753234,42.809063,C,J021900.77+424832.6,12.54,Ba,C Ba,NaN
5,202.70005544,-15.47788815,84.455417,1.757550,C,J053749.30+014527.1,12.54,Ba,C Ba,NaN
6,171.45855211,-17.19588769,65.240196,25.357196,C,J042057.64+252125.9,12.55,Ba,C Ba,NaN

In [6]:
df.isna().sum()

Glon               0
Glat               0
_RAJ2000           0
_DEJ2000           0
Cl                 0
Name               0
V                  0
Spectral Type      0
Sp type            0
Mag type         299
dtype: int64

In [7]:
df['Sp type'].value_counts()

sdB        901
C-H        626
Mrk SB     600
C Ba       241
sdO        209
sdA        183
Mrk AGN    100
Mrk Abs     84
C-N         65
C-R         58
Name: Sp type, dtype: int64

In [8]:
df.head();

In [8]:
df.to_csv('../data/Subtypes.csv')

In [10]:
df

,Glon,Glat,_RAJ2000,_DEJ2000,Cl,Name,V,Spectral Type,Sp type,Mag type
2,122.14417615,-16.27839305,11.759187,46.586624,C,J004702.20+463511.8,12.5,Ba,C Ba,NaN
3,56.80289514,44.77540086,245.485024,35.227892,C,J162156.40+351340.4,12.53,Ba,C Ba,NaN
4,139.57374304,-17.21497856,34.753234,42.809063,C,J021900.77+424832.6,12.54,Ba,C Ba,NaN
5,202.70005544,-15.47788815,84.455417,1.757550,C,J053749.30+014527.1,12.54,Ba,C Ba,NaN
6,171.45855211,-17.19588769,65.240196,25.357196,C,J042057.64+252125.9,12.55,Ba,C Ba,NaN
...,...,...,...,...,...,...,...,...,...,...
3073,130.30191305,-21.62016106,21.913958,40.732722,sd,SDSSJ012739.35+404357.8,16.9,sdO,sdO,NaN
3074,83.35875521,-28.77872148,335.693083,22.442572,sd,SDSSJ222246.34+222633.26,16.92,sdO,sdO,NaN
3075,300.96433086,66.69440859,192.079417,3.834581,sd,PG1245+041,16.94,sdO,sdO,NaN
3076,30.19117666,21.59339424,262.329333,7.367917,sd,SDSSJ172919.04+072204.5,16.95,sdO,sdO,NaN
3077,30.34028373,44.73476698,240.767083,16.998453,sd,PG1600+171,16.98,He-sdO,sdO,NaN